.starPolygon {
  margin-top: 1em;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.starPolygon .drawPolygon {
  stroke-dasharray: 100, 10000;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 3000ms;
}

/* Trigger the drawing effect on hover or when loaded */
.wrapper:hover .drawPolygon {
  stroke-dashoffset: 0;
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  top: 47%;
  left: 35%;
}

.outlinePolygon {
  stroke-dasharray: 100, 10000;
  stroke-dashoffset: 0;
  stroke-opacity: 0.125;
  transition: stroke-dashoffset 3000ms;
}

/* .outlinePolygon:hover {
  stroke-dashoffset: 0;
} */
